<div *ngFor="let post of posts" class="contPost">
    <div>
        <div style="font-weight:bold;">{{post.title}}</div>
        <div><img src="{{post.url_media}}" /></div>
        <div>{{post.intro}}</div>
        <div>
            <div>Categorías:</div>
            <div *ngFor="let category of post.categories">
                <label>{{category.name}}</label>
            </div>
        </div>
        <div>Por {{post.author.username}}</div>
        <div>Publicado: {{post.publicate_at}}</div>
        <label>Likes: {{post.likes}}</label>
    </div>
</div>